header, footer {
	color: rgb(61, 61, 61);
	font-size: 0.75em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
.about:hover, .store:hover, .gmail:hover, .images:hover, {
	text-decoration: underline;
}
.top-left{
	font-size: 12px;
	display: inline-flex;
	float: left;
	padding: 10px;
	margin: 5px;
}
.top-left:hover{
	text-decoration:underline;
}
.top-right{
	display: inline-flex;
	float: right;
}
.bottom-left{
	display: inline-flex;
}
.bottom-right{
	display:-webkit-inline-box;
}