.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
html{
	height: 100%;
	width: 100%;
} /*Making sure the page loads at 100% size */
body{
	overflow-x: hidden; /* lock horizontal scroll */
	overflow-y: hidden; /* lock vertical scroll */
}
/* Header--pray for me */ 

#header
{
	position: relative;
	width: 100%;
	top: 0%;
	display: grid;
	grid-template-columns: 50px 50px 70% 50px 65px 42px 50px;
	grid-template-rows: 50px;
	grid-template-areas: 
	"about store . gmail images appmenu signIn";
}
a{
	font-size: 15px;
	text-decoration: none;
	color: rgba(19, 19, 19, 0.685);
	font-family: Arial, Helvetica, sans-serif;
}
button{
	font-size: 15px;
	text-decoration: none;
	color: rgba(19, 19, 19, 0.685);
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	background-color: white;
}
button:hover{
	text-decoration: underline;
}

#about{
	grid-area: about;
	justify-self: center;
	align-self: center;
	background-color: white;
}
#store{
	grid-area: store;
	justify-self: center;
	align-self: center;
}
#gmail{
	grid-area: gmail;
	justify-self: center;
	align-self: center;
}
#images{
	grid-area: images;
	justify-self: center;
	align-self: center;
}
#appmenu{
	grid-area: appmenu;
	justify-self: center;
	align-self: center;
}
#signIn{
	grid-area: signIn;
	justify-self: center;
	align-self: center;
	margin-left: 0px;
	height: 40px;
	width: 40px;
	line-height: 30px;
	padding: 1px 3px;
}
  
  /* Tooltip text *
  .signIn .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   
	* Position the tooltip text - *
	position: absolute;
	z-index: 1;
  }
  
   *Show the tooltip text when you mouse over the tooltip container 
  .signIn:hover .tooltiptext {
	visibility: visible;
  }*/


/*Main body section of the search page */
#main{
	margin-top: 25px;
	display: grid;
	min-height: 100%;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 250px 70px 70px 250px;
	grid-template-areas: 
	". google-logo ." ". searchbar ." ". container .";
}
#searchbar{
	grid-area: searchbar;
	font-size: 15px;
	text-align: start;
	padding: 8px 30px 8px 40px;
	height: 38%;
	width: 110%;
	border-radius: 100px;
	justify-self: center;
	align-self: flex-end;
	border: 1px solid rgba(116, 116, 116, 0.308)
}
#searchbar:focus{
	outline: none;
}
#container{
	display: flexbox;
	grid-area: container;
	align-self: center;
	justify-self: center;
}
#google-search{
	background-color:rgb(248, 248, 248);
	color: rgba(0, 0, 0, 0.747); 
	font-size: 15px;
	border: none;
	padding: 12px 20px;
	border-radius: 5px;
	margin: 4px;
}
#feelin-lucky{
	background-color:rgb(248, 248, 248);
	color: rgba(0, 0, 0, 0.747); 
	font-size: 15px;
	border: none;
	padding: 12px 20px;
	border-radius: 5px;
	margin: 4px;
}
#searchbar:hover{
	box-shadow: 1px 2px 3px rgb(219, 216, 216);
}
#google-search:hover{
	box-shadow: 2px 1.5px 3px rgb(209, 208, 208);
}
#feelin-lucky:hover{
	box-shadow: 2px 1.5px 3px rgb(209, 208, 208);
}
#google-logo{
	grid-area: google-logo;
	justify-self: center;
	align-self: flex-end;
	max-height: 190%;
}

/* footer */
.footer{
	width: 100%;
	height: 50px;
	background-color: rgb(248, 246, 246);
	position: fixed;
    bottom: 0;
	left: 0;
    display: grid;
    grid-template-columns: 100px 90px 110px 58% 70px 70px 70px;
    grid-template-rows: 35px ;
    grid-template-areas: 
    "advertising business how . privacy terms settings";
}
#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
	height: 48px;
	width: 40px;
	padding: 10px 10px;
	background-color: rgb(248, 246, 246);
}
#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
	height: 24px;
	width: 40px;
	padding: 10px 10px;
	background-color: rgb(248, 246, 246);
}
#how {
    grid-area: how;
    justify-self: center;
    align-self: center;
	height: 24px;
	width: 40px;
	background-color: rgb(248, 246, 246);
	white-space: nowrap;
	padding: 10px 10px;
}
#privacy {
    grid-area: privacy;
    justify-self: center;
    align-self: center;
	height: 24px;
	width: 40px;
	padding: 10px 10px;
	background-color: rgb(248, 246, 246);
}
#terms{
    grid-area: terms;
    justify-self: center;
    align-self: center;
	height: 24px;
	width: 40px;
	padding: 10px 10px;
	background-color: rgb(248, 246, 246);
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
	height: 24px;
	width: 40px;
	padding: 10px 10px;
	background-color: rgb(248, 246, 246);
}